 /* Ensuring proper visibility on small screens */
 @media (max-width: 769px) {
   .sidebar {
     left: -100%;
     width: 250px;
   }
   .banner-text-hp {
    bottom: 14%;
  }
  span#menuToggle {
    position: relative;
    left: 0;
}
   .sidebar.open {
     left: 0;
   }

   .card-body-research-sec {
     height: 308px;
   }
   .about-image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.abo-csi-img:after {
  top: 70%;
        right: -30px;
        width: 110%;
        height: 30%;
}
.image-for-mandate {
  top: -30px;
}
.bg-white-hp-round:after {
 
  top: -18%;
  left: 22%;
}
.leader-slider-slide .row {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
}
.slider-for-d {
  justify-content: center;
}
.leaders-slider-container .row {
  display: flex;
  flex-direction: column-reverse !important;
  align-content: center;
}
.about-image-director {
  width: 30%;
}
.out-reach-image {
  display: flex;
  justify-content: center;
}
 }



 @media (max-width: 1024px) {
   .csir-first-menu {
     display: none !important;
   }
   section.footer-bottam-band h5 {
    text-align: center;
}
.about-image img {
  width: 100%;
}
.sidebar-links a {
  margin: 0px 0;
}
 }


 @media (max-width: 430px) {
   .social-icons a img {
     width: 50px;
     margin: 20px;
   }

   .top-up-home.d-flex {
     justify-content: flex-end;
   }
   .slider-makein-india {
    top: 20%;
    right: 0;
}
img.back-make-india {
  width: 280px;
}
.make-india-text h3 {
  font-size: 10px;
}
.make-india-text h5, .make-india-text p {
  font-size: 6px;
}
.logo-name, .logo-area {
  font-size: 14px;
}
a#searchToggle {
  font-size: 0;
}
.image-for-mandate {
  left: 10%;
  top: 0px;
}
.bg-white-hp-round:after {
  top: 0%;
  left: 0%;
}
.position-relative.bg-white-hp-round {
  padding-bottom: 80px;
}
.image-for-mandate {
  left: 9%;
  top: 29px;
}
.banner-text-hp {
  font-size: 20px;
  bottom: 14%;
}
section.about-csir-section {
  margin-top: 110px;
}
 }



 @media (max-width: 376px) {
  .image-for-mandate {
    width: 300px;
    height: 300px;
}
.bg-white-hp-round:after {
  top: -4%;
  left: -4%;
}
.bg-white-hp-round:after {
 
  width: 380px;
  height: 380px;
}
 }

 @media (max-width: 321px) {
  h4.logo-name {
    font-size: 14px;
  }

  h5.logo-area {
    font-size: 12px;
  }
  section#hero {
   margin-top: 18%;
}
.image-for-mandate {
 width: 250px !important;
 height: 250px !important;
}
.bg-white-hp-round:after {
 width: 320px;
 height: 330px;
}
}
 @media (min-width: 1200px) {
 .slider-container {
  height: 90vh;
}
 }
 @media (min-width:1025px) {
 .mandate-csir-section, .about-csir-section {
  height: 100vh;
}
 }