/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-csir-nal: #01002C;
  --black-color-csir-nal: #000000;
  --white-color-csir-nal: #ffffff;
  --border-color-csir-nal: #ddd;
  --fade-color-csir-nal: #f8f9fa;
  --box-shadow-csir-nal-one: 0px 2px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-csir-nal-two: 4px 4px 70px rgba(0, 0, 0, 0.219);
  --link-color-csir-nal: #007bff;
  --font-csir-nal: csir-nal-chivo;
  --yellow-color-csir: #f4c708;
}

div {
  font-family: var(--font-csir-nal);
}

/* General Styling */
a {
  color: var(--link-color-csir-nal);
  text-decoration: none !important;
}

p {
  font-size: 12pt;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.my-50 {
  margin: 50px 0;
}

.mt-100 {
  margin-top: 100px;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-70 {
  margin-top: 70px;
}
.mb-100 {
margin-bottom: 100px;
}
.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
img {
  width: 100%;
}

body {
  overflow-x: hidden;
  top: 0 !important;
}

/* Header Styling */
.custom-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color-csir-nal);
  border-bottom: 1px solid var(--border-color-csir-nal);
  z-index: 1040;
  transition: transform 0.3s ease-in-out;
}
a.text-decoration-none.active {
  background: var(--yellow-color-csir);
}
.custom-header.hidden {
  transform: translateY(-100%);
}

.logo {
  max-height: 94px;
  width: 75px;
}
h4.logo-name {
  font-size: 24px;
}
h5.logo-area {
  font-size: 16px;
}
.logo-name,
.logo-area {
  font-weight: 600;
  color: var(--black-color-csir-nal);
  line-height: 1;
}

.csir-hp-menu {
  gap: 40px;
}

.csir-first-menu li a {
  color: var(--black-color-csir-nal);
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
}

.csir-first-menu li:hover a {
  color: var(--primary-color-csir-nal);
  transition: 0.5s;
  box-shadow: var(--box-shadow-csir-nal-two);
}

.menu-icon {
  font-size: 16px;
  cursor: pointer;
}

.csir-hp-menu {
  gap: 10px;
  position: relative;
}
span#menuToggle {
  position: absolute;
  left: -10%;
}
/* Search Bar Styling */

a#searchToggle {
  font-weight: 500;
  font-size: 18px;
}
.search-bar {
  width: 100%;
  position: fixed;
  top: -280px;
  left: 0;
  background-color: white;
  padding: 30px 10%;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1111;
}

.h-text-s {
  font-size: 32px;
  font-weight: 500;
  margin: 15px 0;
}

.search-bar.open {
  top: 0;
}

.search-bar input {
  border-radius: 4px;
  width: 80%;
  padding: 10px;
  font-size: 1em;
  border: none;
  background: #F4F4F4;
  height: 80px;
}

.search-input-button {
  width: 100%;
  display: flex;
  align-items: center;
}

.search-bar .search-btn {
  width: 20%;
  height: 80px;
  background: var(--primary-color-csir-nal);
  color: white;
  font-size: 20px;
  border: none;
}

.search-bar .search-btn:hover {
  background-color: var(--link-color-csir-nal);
}

.search-bar .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
 /* Custom Dropdown */
 .custom-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}

.custom-dropdown img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 150px;
  text-align: left;
}

.dropdown-content div {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-content div img {
  width: 20px;
  height: 20px;
}

.dropdown-content div:hover {
  background: var(--yellow-color-csir);
  color: white;
}

.custom-dropdown:hover .dropdown-content {
  display: block;
}

/* Hide Google Translate Top Bar */
iframe.goog-te-banner-frame {
  display: none !important;
}

/* Hide Google Translate Default Toolbar */
.goog-te-gadget {
  display: none !important;
}

/* Fix layout shift */
body > .skiptranslate {
  display: none !important;
}

/* Sidebar Styling */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: var(--fade-color-csir-nal);
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.banner-text-hp {
  position: absolute;
  z-index: 1111;
  bottom: 35%;
  left: 10%;
  text-align: justify;
  font-size: 40px;
  color: white;
  font-weight: 800;
  font-style: italic;
}
.slide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsl(0deg 0% 0% / 59%);
  top: 0;
  left: 0;
}
section.section-slide-csir-nal .swiper-slide {
  font-weight: 400;
}
.sidebar.open {
  left: 0;
}

svg.arrow-menu {
  width: 30px;
  height: 12px;
}

.sidebar-links a:after {
  content: "";
  background: var(--yellow-color-csir);
  width: 70%;
  height: 3px;
  position: absolute;
  left: 15%;
  bottom: 0;
}

.sidebar-header {
  padding: 8px;
  border-bottom: 1px solid var(--border-color-csir-nal);
}

header#header {
  z-index: 1040;
}

.sidebar-links a:hover,
a.active-sidebar {
  background-color: var(--yellow-color-csir) !important;
}

.sidebar-links a {
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s;
  position: relative;
  margin: 20px 0;
}

.sidebar-links a:hover {
  background-color: var(--link-color-csir-nal);
}

.sidebar-close {
  position: absolute;
  top: 5%;
  right: 15px;
  cursor: pointer;
}

ul.sidebar-in-tab-phone {
  padding: 0;
}

section.header-csir-nal-hp {
  /* padding-bottom: 90px; */
  height: 52px;
}

/* slider */

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-container {
  width: 100%;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: 120%;
  /* Start with zoomed-in background */
  background-position: center;
  position: relative;
  transform: scale(1);
  transition: background-size 1.5s ease-in-out, transform 1.5s ease-in-out;

}

.slide.active {
  transform: scale(1.05);
  /* Slight zoom-in for the slide itself */
  background-size: 100%;
  /* Zoom out to normal size during transition */
  animation: zoom-out 90s ease-out infinite;
}

@keyframes zoom-out {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.5, 1.5);
  }
}

.text-content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.slide.active .text-content {
  opacity: 1;
  transform: translateY(0);
}

.slide h1 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}

.slide p {
  font-size: 1.5em;
  color: #fff;
}

/* section#hero {
  margin-top: 64px;
} */

/* Navigation Dots */
.slider-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.slider-nav button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.slider-nav button.active {
  background: white;
  border: 2px solid rgb(255, 196, 0);
}

/* Navigation Arrows */
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
}

button#prevSlide:hover path.clsa-1,
button#nextSlide:hover path.clsa-1 {
  fill: #0000005c;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

/* topic section */
.title-csir-nal-heading {
  font-size: 54pt;
  font-weight: 600;
}

.subtitle-csir-nal-heading {
  font-size: 15pt;
  color: #5B5B5B;
  max-width: 900px;
}

.csir-hp-card p {
  padding-bottom: 20%;
}

.csir-hp-card img {
  width: 80px;
}

.image-section-card {
  background: #EFB40F;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.csir-hp-card {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 2px 2px 10px #8080806e;
  margin: 10px 0; 
  /* transform: scale(0.9) !important; */
}
/* .csir-hp-card:hover {
  transform: scale(1) !important;
} */
section.section-topics-csir-nal .row .col-md-6:hover {
  transform: scale(1);
}
section.section-topics-csir-nal .row .col-md-6 {
  transform: scale(0.9);
  transition: 1s !important;
}

.card-title-csir-hp {
  color: #044EB7;
}

/* swiper slider */

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  font-size: 18px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  text-align: center;
}

.slider-makein-india {
  position: absolute;
  top: 5%;
  right: 5%;
}

img.back-make-india {
  width: 560px;
}

.make-india-text h3 {
  color: #044EB7;
  font-weight: 800;
  font-size: 18px;
  animation: zoom-in-zoom-out 5s ease-out infinite
}

.make-india-text h5,
.make-india-text p {
  font-size: 14px;
  color: var(--black-color-csir-nal) !important;
  font-weight: 500;
}

.make-india-text {
  position: absolute;
  top: 38%;
  left: 47%;
  text-align: center;
  width: 39%;
}

/* direction and vision section */
.title-csir-nal-heading-direction {
  font-size: 48px;
  font-weight: 600;
}

.pad-zero-hp {
  padding: 0 !important;
  overflow: hidden;
}

.image-and-text-box-csir-nal-hp {
  border: none !important;
  border-radius: 0 !important;
}

.card-body-research-sec {
  height: 285px;
  box-shadow: 2px 2px 10px #808080b3;
}

/* banner image */
.fade-section {
  position: relative;
  height: 596px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.fade-section .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1.5s ease-in-out;
}

.fade-section .background.zoom-out {
  animation: zoomOut 1.5s ease-in-out;
}

.fade-section .background.fade-right {
  animation: fadeRight 1.5s ease-in-out;
}

.fade-section .background.fade-left {
  animation: fadeLeft 1.5s ease-in-out;
}

.fade-section h1 {
  font-size: 48pt;
  padding: 250px 0;
  text-shadow: 2px 2px 10px black;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* annoucement */
.annoucment-hp {
  font-size: 42px;
  padding: 20px 0;
}

/* news */
.hp-csir-nal-date {
  background-color: rgb(230 230 232) !important;
}

.hp-csir-nal-date small {
  background: #00002e;
  padding: 10px 20px;
  font-size: 14pt;
}

h4.date-hp-csir-nal-news {
  margin-bottom: 20px;
  color: #00002e;
}

.list-group-hp-csir-nal {
  margin-bottom: 30px;
  padding: 20px 10px;
}

.csir-hp-news-text {
  margin: 0 30px;
  width: 100%;
}

a.read-more-csir-news {
  text-decoration: none;
  display: flex;
  text-align: end;
  justify-content: flex-end;
}

.list-group-hp-csir-nal:hover {
  background: #e6e6e8;
}

.list-group-hp-csir-nal:hover .hp-csir-nal-date {
  background-color: var(--white-color-csir-nal) !important;
  transition: 0.5s;
}

.card-gallery {
  box-shadow: 2px 2px 10px #80808061;
}

.card-gallery a h4 {
  color: black;
  padding: 10px;
  font-size: 20px;
}

.image-open-gallery:hover {
  cursor: pointer;
  scale: 1.2;
  transition: 1s;
}

/* video section */
.video-container {
  position: relative;
  width: 100%;
  /* max-width: 800px; */
  background: #222;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-button::before {
  content: '\25B6';
  font-size: 30px;
  color: black;
}

.controls {
  width: 100%;
  background: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  flex-grow: 1;
  margin: 0 10px;
}

.icon svg {
  width: 20px;
}

span#prevVideo {
  margin: 20px 40px;
}

svg#Layer_3 {
  margin-left: 40px;
}

/* footer */
.footer {
  padding: 40px 0;
}

section.footer-bottam-band {
  padding: 10px 0;
}

.footer h5 {
  font-weight: bold;
}

.social-icons a img {
  width: 36px;
  margin: 20px;
  animation: zoom-in-zoom-out 5s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.qr-code img {
  width: 70px;
  margin: 10px;
}

section.footer-bottam-band h5 {
  font-size: 18px;
}

.footer-title-csir {
  font-size: 28px;
  margin-bottom: 30px;
}

ul.footer-external-links {
  list-style: disc;
  padding-left: 1rem;
}

ul.footer-external-links li {
  line-height: 36px;
}

h4.footer-title-logo {
  color: var(--white-color-csir-nal);
  font-size: 20px;
  font-weight: 400;
}

p.add-ftr-detail {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

ul.footer-external-links li a {
  font-size: 18px;
  font-weight: 400;
}

p.scnner-text {
  font-weight: 100;
  font-size: 20px;
}

footer {
  padding: 50px 0
}

.custom-slider-container {
  width: 100%;
}

.custom-slider-container .swiper-slide {
  padding: 0;
}

.top-up-home img {
  width: 40px;
}

body>.skiptranslate,
.goog-logo-link,
.gskiptranslate,
.goog-te-gadget span,
.goog-te-banner-frame,
#goog-gt-tt,
.goog-te-balloon-frame,
div#goog-gt- {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  font-size: 0px;
  position: relative;
  left: 38%;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

#google_translate_element select {
 
  color: #000000;
  border: none;
  font-family: 'csir-nal-chivo';
  font-size: 16px;
}
.top-up-home.d-flex {
  gap: 10px;
}






/* About page */
h2.page-title-heading-hp-csir {
  font-weight: 700;
}

h2.page-title-heading-hp-csir:before {
  content: "";
  background: var(--yellow-color-csir);
  width: 5px;
  height: 54px;
  position: absolute;
  left: -10px;
  top: -5px;
}

.about-image {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-image img {
  width: 70%;
}

.abo-csi-img:after {
  position: absolute;
  top: 0;
  right: -50%;
  width: 70%;
  height: 100%;
  background: var(--yellow-color-csir);
  z-index: -2;
  content: "";
}
.abo-csi-img {
  margin-top: 30px !important;
}


/* mandate */

.image-for-mandate {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: white;
  left: 27%;
  top: -10px;
}

.center-image {
  position: absolute;
  top: 53%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-image img {
  width: 100px;
  height: 100px;
}

.circle-image {
  position: absolute;
  width: 25%
}

/* Positioning images in a circular pattern */
.circle-image:nth-child(1) {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.circle-image:nth-child(2) {
  bottom: -6%;
  left: 48%;
  transform: translateX(-50%);
}

.circle-image:nth-child(3) {
  bottom: -2%;
  left: 77%;
  transform: translateX(-50%);
}

.circle-image:nth-child(4) {
  bottom: 18%;
  left: 91%;
  transform: translateX(-50%);
}

.circle-image:nth-child(5) {
  top: 26%;
  left: 91%;
  transform: translateX(-50%);
}

.circle-image:nth-child(6) {
  top: 5%;
  left: 77%;
  transform: translateX(-50%);
}

.circle-image:nth-child(7) {
  top: 0%;
  left: 48%;
  transform: translateX(-50%);
}

.circle-image:nth-child(8) {
  top: 5%;
  left: 20%;
  transform: translateX(-50%);
}

.circle-image:nth-child(9) {
  top: 25%;
  left: 6%;
  transform: translateX(-50%);
}

.circle-image:nth-child(10) {
  top: 56%;
  left: 6%;
  transform: translateX(-50%);
}

.circle-image:nth-child(11) {
  bottom: -2%;
  left: 20%;
  transform: translateX(-50%);

}

.bg-white-hp-round:after {
  content: "";
  background: white;
  width: 400px;
  height: 400px;
  position: absolute;
  top: -7%;
  z-index: -1;
  border-radius: 50%;
  left: 21%;
}




/* leader */

.leader-image img {
  width: 200px;
  border: 3px solid var(--yellow-color-csir);
  border-radius: 50%;
  height: 200px;
  background: white;
}

.leader-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(360deg, var(--yellow-color-csir) 70%, #ffffff 70%);
  width: 430px;
}

.leaders-slider-container .swiper-slide {
  color: black;
  font-weight: inherit;
}

.slider-for-d {
  display: flex;
  justify-content: flex-end;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--yellow-color-csir);
  border: 3px solid #d8d8d8;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 14px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 14px)) !important;
}

.swiper-slide.leader-slider-slide {
  padding: 30px 0;
}

.leaders-slider-container .swiper-wrapper {
  z-index: 0;
}



/* organisation Chart */

.chart-1 {
  padding: 10px;
  background: #0073b2;
  color: white;
}

.chart-2 {
  padding: 10px;
  background: #e94f40;
  color: white;
}

.chart-2-2 {
  margin: 0 20px;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px;
}

.chart-3 {
  background: #0073b2;
  display: inline-block;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.chart-4 {
  background: #00aac3;
  display: inline-block;
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0 0;
}

.connector:after,
.connectorv:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 36px;
  background: #a0a0a0;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  z-index: -2;
}

.connectorvl:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 68%;
  background: #a0a0a0;
  left: 25%;
  transform: translateX(-50%);
  top: -30px;
  z-index: -2;
}

.connectorvl2:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 46%;
  background: #a0a0a0;
  right: 25%;
  transform: translateX(-50%);
  top: -30px;
  z-index: -2;
}

.connector:before {
  content: '';
  position: absolute;
  width: 60%;
  height: 1px;
  background: #a0a0a0;
  left: 50%;
  top: 22px;
  z-index: -1;
  transform: translateX(-50%);
}

.connectorh::before {
  content: '';
  position: absolute;
  width: 75%;
  height: 1px;
  background: #a0a0a0;
  left: 50%;
  top: -30px;
  z-index: -1;
  transform: translateX(-50%);
}

.connectorvc:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 36px;
  background: #a0a0a0;
  left: 50%;
  transform: translateX(-50%);
  top: -65px;
  z-index: -1;
}

.connectorh2::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background: #a0a0a0;
  left: 50%;
  top: -20px;
  z-index: -1;
  transform: translateX(-50%);
}

.connectorvc2:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 36px;
  background: #a0a0a0;
  left: 50%;
  transform: translateX(-50%);
  top: -55px;
  z-index: -1;
}

.csir-chart-hp-img-like div {
  font-size: 14px;
}

.list-chart li {
  background: #eceeed;
  margin: 10px 0;
  padding: 5px;
}

.csir-chart-hp-img-like ul {
  padding: 0;
}

.bg-red-hp:after {
  background: #0073b2;
  content: "";
  width: 50%;
  height: 41px;
  z-index: -1;
  position: absolute;
  top: -5px;
  right: 0;
  transform: skewY(2deg);
}

.bg-red-hp:before {
  background: #0073b2;
  content: "";
  width: 50%;
  height: 41px;
  z-index: -1;
  position: absolute;
  top: -5px;
  left: 0;
  transform: skewY(358deg);
}

.bg-blue-hp:after {
  background: #e94f40;
  content: "";
  width: 50%;
  height: 41px;
  z-index: -1;
  position: absolute;
  top: 5px;
  right: 0;
  transform: skewY(358deg);
}

.bg-blue-hp:before {
  background: #e94f40;
  content: "";
  width: 50%;
  height: 41px;
  z-index: -1;
  position: absolute;
  top: 5px;
  left: 0;
  transform: skewY(2deg);
}

span.blur-bg-search:after {
  position: absolute;
  background: var(--yellow-color-csir);
  content: "";
  width: 17px;
  height: 16px;
  filter: blur(5px);
  z-index: -1;
  border-radius: 100%;
  top: 0;
  right: 0;
}


/* career page */

.career-container {
  font-family: Arial, sans-serif;
  width: 90%;
  margin: auto;
  background: #f9f9f9;
}

.career-title {
  font-size: 24px;
  font-weight: bold;
}

.career-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
}

.career-th,
.career-td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  position: relative;
}

.career-th {
  background-color: #f1c40f !important;
  color: #000 !important;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.career-th.sortable:hover {
  background: #e2b607;
}

.career-th .sort-icons {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  top: 5px;
}

.sort-icon {
  font-size: 12px;
  width: 12px;
}

.career-tr:nth-child(even) {
  background: #f2f2f2;
}

.career-search-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.career-search-input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
}

.career-button {
  padding: 8px 12px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
}

.career-button:hover {
  background: #555;
}

.career-search-btn {
  display: inline-block;
}

.career-pdf-icon {
  text-align: center;
}

.career-pdf-icon img{
  width: 20px;
}
/* tender */
.hidden {
  display: none;
}
select#entriesSelect {
  background: var(--yellow-color-csir);
}
button#clearSearch {
  background: var(--yellow-color-csir);
  border: none;
  color: black;
  margin-left: 10px;
}
table#tenderTable th {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.disabled>.page-link, .page-link.disabled {
  color: var(--black-color-csir-nal) !important;
  pointer-events: none;
  background-color: var(--yellow-color-csir) !important;
  border: none !important;
}
.active>.page-link, .page-link.active {
  color: var(--black-color-csir-nal) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
img.career-pdf-icon-img {
  width: 30px;
}
#tenderTabs a.nav-link {
  background: #f4c708;
  color: black;
  padding: 10px 0;
  text-align: center;
}
#tenderTabs .col-lg-2 {
  padding: 2px;
}
/* newsroom */
.hp-selct-form-newsroom.form-select:focus {
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
  background-color: #ffc107 !important;
  border-radius: 0 !important;
  padding: 10px !important;
}
.hp-selct-form-newsroom.form-select {
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
  background-color: #ffc107 !important;
  border-radius: 0 !important;
  padding: 10px !important;
}
/* annual Procurement Plan */
.year-header {
  background-color: var(--yellow-color-csir);
  color: var(--black-color-csir-nal);
  text-align: center;
  padding: 10px 0;
}

.section {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.file-icon {
  width: 24px;
  height: 24px;
}

/* facility */
.custom-slider-container-facility .swiper-slide {
  background: var(--yellow-color-csir);
  padding: 0;
} 
.custom-slider-container-facility .swiper-pagination {
  bottom: var(--swiper-pagination-bottom, -60px) !important;
}
.swiper.custom-swiper-facility .swiper-slide a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-slider-container-facility .swiper-button-prev,
.custom-slider-container-facility .swiper-button-next {
    background-color: var(--yellow-color-csir);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 120%;
    transform: translateY(-50%);
    color: var(--black-color-csir-nal);
    z-index: 10;
    transition: background-color 0.3s ease;
}
.custom-slider-container-facility .swiper-button-prev path,
.custom-slider-container-facility .swiper-button-next path{
  fill: var(--black-color-csir-nal);
}
.custom-slider-container-facility .swiper-button-prev:hover,
.custom-slider-container-facility .swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.custom-slider-container-facility .swiper-button-prev {
    left: 0px;
}

.custom-slider-container-facility .swiper-button-next {
    right: 0px;
}
.custom-slider-container-facility .swiper-button-prev::after,
.custom-slider-container-facility .swiper-button-next::after {
    display: none;
}
li.list-dot-hp {
  font-size: 18px;
  font-weight: 600;
}
/* business */

.ficon {
  max-width: 48px;
}
.card-facility {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: none;
}
.card-facility .card-body {
  padding: 0px 20px;
}
/* research */
.image-business img {
  width: 340px;
  box-shadow: 2px 2px 10px #80808057;
}
.res-in-f .col-lg-3 {
  display: flex;
  align-items: center;
}